/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.pixelated {
  image-rendering: pixelated;
}

.icon24 {
  width: 24px;
  height: 24px;
}

.icon48 {
  width: 48px;
  height: 48px;
}

// Disable Bootstrap border around disabled buttons
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  border-color: transparent !important;
}

.team-not-won {
  opacity: 0.2;
}

// https://github.com/google/blockly/issues/865#issuecomment-275351345
.blocklyMainBackground {
  // Ugly hack to fix black safari background
  opacity: 0 !important;
}

.blocklyFlyoutLabelText {
  font-weight: bolder !important;
  font-size: larger !important;
}

/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
  padding: .5em;
}

.blocklyToolboxCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
  padding: 4px !important;
  margin-bottom: .5em;
  border-radius: 4px;
  height: 38px;
}

/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blocklyTreeRow {
  height: initial;
}

.customIcon {
  background-size: 32px 32px;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}

.customIconEvent {
  background-image: url("/assets/icons/flag-checkered-solid.png");
}

.customIconCondition {
  background-image: url("/assets/icons/futbol-regular-question-mark.png");
}

.customIconAction {
  background-image: url("/assets/icons/running-solid.png");
}

.customIconPosition {
  background-image: url("/assets/icons/map-marker-alt-solid.png");
}

.customIconValue {
  background-image: url("/assets/icons/hashtag-solid.png");
}

.customIconAdvanced {
  background-image: url("/assets/icons/flask-solid.png");
}

.customIconMyActions {
  background-image: url("/assets/icons/wand-sparkles.png");
}

// Disabled blocks are grey (first-of-type because the second element is the yellow focus)
.blocklyDisabled > .blocklyPath:first-of-type {
  fill-opacity: 0.8;
  fill: lightgrey;
}

// Disabled blocks placeholders are darkgray (otherwise they would be hidden)
.blocklyDisabled > .blocklyOutlinePath {
  fill: darkgray !important;
}

// Remove white background that Bootstrap 5.3 adds on tables
table {
  --bs-table-bg: transparent !important;
}

// Importing Bootstrap SCSS file.
// I couldn't find a way to have bootstrap and bootstrap-rtl
// used dynamically according to the user language.
// So I only load bootstrap, fix some classes
// and mostly avoid all ms-, me-, ps, and pe-
@import 'bootstrap/scss/bootstrap';

[dir="rtl"] .oriented-icon {
  transform: scaleX(-1);
}

// Some category icons need flipping, not all
[dir="rtl"] .customIconEvent, [dir="rtl"] .customIconAction, [dir="rtl"] .customIconMyActions {
  transform: scaleX(-1);
}

[dir="rtl"] .text-start {
  text-align: right !important;
}

[dir="rtl"] .text-end {
  text-align: left !important;
}

// Bootstrap computes margin for LTR so we need to set the margin to 0
// otherwise it would be broken for RTL
.modal-header .btn-close {
  margin: 0;
}

// But then we need space-between for the header items as Bootstrap no longer does it
// Cf https://github.com/twbs/bootstrap/pull/39373
.modal-header {
  justify-content: space-between;
}
